%section.container


  .top-questions-container
    %h2 Top Questions
    - @questions.each do |question| 
      .questions-break
        %hr
      .questions-score
        = "#{question.up_votes_count- question.up_votes_count}"
      

      .questions-comment
        = link_to question.title, question
    .questions-break
      %hr