$main-grey: #F0EFE9;

.front-explainer{
  padding: 10px 20px 20px 30px;
}
.front-explainer:hover{
  background-color: $main-grey;
  border-radius: 10px;
}

.mentor-image{
  border-radius: 100%;
  width: 120px;
}

.mentor-div{
  padding-bottom: 15px;
}