$main-grey: #F0EFE9;


/**************
* PROFILE BAR *
**************/
.logo{
  width: 90px;
  border-radius: 100%;
  display: block;
  margin: auto;
}

.profile{
  position: fixed;
}


/**************
* QUESTIONS   *
**************/
.questions-content{
  background-color: $main-grey;
  border-radius:10px;
  overflow: scroll;
}  
.questions-score{
  padding: 10px 20px 20px 30px;
}
.questions-score:hover{
  background-color: $main-grey;
  border-radius: 10px;
}

.questions-column{
  overflow: auto;
  max-height: auto;
}



/**************
* COMMENTS    *
**************/

.comments-score{
}

.comment-div{
  background-color: rgba(240, 239, 233, 0.5);
  border-radius: 10px;
  padding: 3px 6px 6px 6px;
  margin: 3px
}

/******************
*  VOTING BUTTONS *
******************/

.voted-on{
  color: red
}
.answer-voted-on{
  color: red
}
.comment-voted-on{
  color: red
}

/******************
*  ANSWERS         *
******************/
.answers-score{
  background-color: rgba(240, 239, 233, 0.3);
  
  border-radius:10px;
  overflow: scroll;
  margin: 20px 0px;
  padding:20px;
}
.new_answer{
  text-align: center;
}